# Foundry
cache/
out/
forge-cache/
broadcast/

# Dependencies
lib/
node_modules/

# Environment variables
.env
.env.local
.env.prod
.env.test

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Debug files
*.log
debug/

# Coverage
coverage/
coverage.json
lcov.info

# Misc
.gas-snapshot
artifacts/
typechain/
typechain-types/

# Local development
anvil.log
